:root {
  --w-color: #e0e0e0;
  --ww-color: #f0f0f0;
  --b-color: #333;
  --g-color: #888;
  --dg-color:#555;
  --rb-color:#dcc;
  --w-main: 80%;
  --w-side: 20%;
  --font-size: 18px;
}

@media handheld or (max-width: 800px)  {
  :root {
    --font-size: 38px;
  }
}
@media screen and (min-width: 800px)  {
  :root {
    --font-size: 18px;
  }
}

body {
  font-size: var(--font-size);
  /* font-family: Sans-serif; */
  font-family: "Segoe UI", "Liberation Sans", sans-serif;
  background-color: var(--ww-color);
  padding: 0em;
  margin: 0em;
  color: var(--b-color);
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

p {
  font-family: "Segoe UI", "Liberation Sans", sans-serif;
}

main {
  width: var(--w-main);
  margin: 0 auto;
}

header {
  width: var(--w-main);
  margin: 0 auto;
  background-color: #ccc;
  color: var(--b-color);
  font: bold 2rem/2rem bold sans-serif;
  padding: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

footer a {
  color: var(--w-color);
  color: #bbb;
  text-decoration: none;
}

footer {
  min-height: 3em;
  width: var(--w-main);
  margin: 0 auto;
  background-color: var(--g-color);
  margin-top: 1em;
  margin-bottom: 0;
  color: var(--w-color);
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  padding-top: 1em;
  color: rgb(131, 140, 149);
  background-color:#292623;
}

footer p {
  padding: .1rem;
}

footer p:hover a{
  color: var(--ww-color);
}

footer p:hover {
  /* background-color: var(--w-color); */
}


footer a:hover {
  color: var(--ww-color);
}

footer p {
  display: inline-block;
  margin: 0 2em;
}

aside {
  width: var(--w-side);
  background-color: var(--rb-color);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 9%;
}

section {
  /* width: var(--w-main); */
  margin: 1em auto;
  /* background-color: var(--w-color); */
}

section a {
  color: var(--b-color);
  text-decoration: none;
}
section a:hover {
  color: var(--g-color);
  text-decoration: underline;
}
section p a {
  color: var(--b-color);
  text-decoration: underline;
}

p {
  font-size: 1.2rem;
}

h1 {
  font-family: Sans-serif;
  /* margin-left: -1em; */
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


span.fio {
  color: #33a;
}

.fio:hover {
  color: #55f;
}

span.spoiler {
  color: var(--ww-color);
}
span.spoiler:hover {
  color: var(--b-color);
  transition: all .5s;
}

h3 {
  /* margin-top: 3em; */
  margin-left: 0.5em;
}

h2 {
  margin-top: 2em;
}

section.work {
  margin-bottom: 4em;
}

ul {
  list-style: none;
}
ul li::before {
  content: "✔️";
  display: inline-block;
  margin-right: 0.2rem;
}

ul ul li::before {
  content: "📗";
}

li:hover {
  /* transform: translateX(-0.1rem); */
  /* transition: transform, 0.5s; */
}

span.tech {
  background-color: #aef2bf;
  padding: .5em;
  border-radius: 1em;
  margin: 0 .2em;
  line-height: 2.5em;
}

span.tech-aug {
  background-color: #e4f7a0;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0 .1em;
  font-size: 0.8em;
  line-height: 2.5em;
}

section .hiding {
  /* visibility: hidden; */
  /* opacity: 0.5; */
  /* height: 0; */
}

.self:hover .hiding, 
.self:active .hiding {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  /* height: 100%; */
}

p {
  margin-left: 1em;
}
